﻿@model VrPark.Web.ViewModels.ParkItemViewModel
@using VrPark.Resources

@{
    ViewBag.Title = Resources.ParkItems + " / " + Resources.Edit;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Watt and Volt</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">@Resources.Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "ParkItems", "Index")">@Resources.ParkItems</a>
            </li>
            <li class="active">
                <strong>@Resources.Edit</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-pencil text-wv"></i> @Resources.EditParkItem</h5>
                </div>
                @RenderPage("_formParkItem.cshtml")
            </div>
        </div>
    </div>
</div>


@section Scripts {

    @* javascript *@
    @Scripts.Render("~/bundles/jqueryval")
}
