﻿@model IEnumerable<VrPark.Web.ViewModels.ParkItemViewModel>
@using VrPark.Resources

@{
    ViewBag.Title = Resources.ParkItems + " / " + Resources.Search;
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Watt and Volt</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">@Resources.Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "ParkItems")">@Resources.ParkItems</a>
            </li>
            <li class="active">
                <strong>@Resources.List</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5><i class="fa fa-tachometer text-wv"></i> @Resources.ParkItems</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <div class="table-responsive">
                <div class="m-b">
                    <a href="@Url.Action("Create", "ParkItems")" class="btn btn-sm btn-outline btn-info"><b>@Resources.NewParkItem</b></a>
                </div>
                <table id="parkItemsTable" class="table table-striped table-hover dataTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ParkItemCategory.Code)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Code)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Latitude)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Longitude)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AdditionalInformation)
                            </th>
                            <th width="80" align="right"></th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ParkItemCategory.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Latitude)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Longitude)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AdditionalInformation)
                            </td>
                            @*<td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>*@

                            <td>
                                <form action="@Url.Action("Delete", "ParkItems", new {id = item.Id})" method="post">
                                    <a class="btn btn-xs btn-primary" href="@Url.Action("Edit", "ParkItems", new { Id = item.Id })">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    @Html.AntiForgeryToken()
                                    <a class="btn btn-xs btn-danger confirm-delete">
                                        <i class="fa fa-remove"></i>
                                    </a>
                                </form>
                            </td>
                        </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="7"><em>@Resources.NoRecords</em></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            var table = $('#parkItemsTable').DataTable({
                dom: "<'row'<'col-sm-4'l><'col-sm-4 text-right'f><'col-sm-4 text-right'B>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                "iDisplayLength": 10,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "columnDefs": [
                    { className: "dt-center", targets: "_all" },
                    { sortable: false, className: "dt-right", targets: [7] }
                ],
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                language: {
                    url: "../Content/plugins/datatables/greek.json"
                },
                initComplete: function () {
                    table.buttons().container().appendTo('#parkItemsTable_wrapper .col-sm-6:eq(0)');

                    // change button color
                    $('#parkItemsTable_wrapper .dt-buttons a.btn-default').removeClass("btn-default").addClass("btn btn-sm btn-outline btn-primary")
                }
            });
        });
    </script>
}